:root {
--color00: #282828;
--color01: #282828;
--color02: #282828;
--color03: #404040;
--color04: #ffffff;
--color05: #e6e1dc;
--color06: #ffffff;
--color07: #ffffff;
--color08: #DA4939;
--color09: #cc7833;
--color0A: #675130;
--color0B: #A5C261;
--color0C: #89af90;
--color0D: #6d9cbe;
--color0E: #DA4939;
--color0F: #CC7833;
}
