@define-color selected-text #cc7833;
@define-color text #e6e1dc;
@define-color base #282828;
@define-color border #cc7833;
@define-color foreground #e6e1dc;
@define-color background #282828;


@define-color hover #cc7833;

window .normal-icons,
window .large-icons,
window .item-image,
window .symbols {
    -gtk-icon-size: 24px;
    min-width: 24px;
    min-height: 28px;
    padding: 2px;
    margin: 2px;
    display: inline-block;
}

window .search-container,
window .search {
  background: alpha(@hover, 0.2);
  color: @foreground;
  border: 1px solid alpha(#a5c261, 0.5);
  border-radius: 1px;
  padding: 8px 12px;
  margin: 4px 0;
  font-size: 12px;
  font-weight: 500;
}



child:selected {
  background: alpha(#a5c261, 0.2);
  border-radius: 1px;
}

window .box-wrapper {
        line-height: 70%;
}
