:root {
--color00: #282828;
--color01: #282828;
--color02: #282828;
--color03: #ffffff;
--color04: #e6e1dc;
--color05: #e6e1dc;
--color06: #e6e1dc;
--color07: #e6e1dc;
--color08: #da4939;
--color09: #e8bf6a;
--color0A: #ffc66d;
--color0B: #a5c261;
--color0C: #89af90;
--color0D: #6d9cbe;
--color0E: #967efb;
--color0F: #f92672;
}
